<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>

<body>
    <h2>Company Homepage</h2>
    <hr>
    <p>Welcome to the company homepage!</p>

    <hr>

    <!-- display username and role -->
    <p>User: <span sec:authentication="principal.username"></span>
        <br>
        Roles: <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>


    <div sec:authorize="hasRole('MANAGER')">
        <!-- div only shows for manager roles -->
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <!-- div only shows for admin roles -->
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admin peeps)
        </p>
    </div>

    <!-- logout button -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2">
    </form>

</body>

</html>