<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <!-- @ symbol refers to application context path -->
    <!-- $ symbol refers to the application model -->
    <!-- * symbol is shorthand for accessing object fields (e.g student.field) -->
    <head>
        <meta charset="UTF-8">
        <title>Student Registration Form</title>
    </head>

    <body>
        <h3>Student Registration Form</h3>

        <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
            First name: <input type="text" th:field="*{firstName}">
            Last name: <input type="text" th:field="*{lastName}">

            <br><br>

            Country:
            <!-- dropdown -->
            <select th:field="*{country}">
                <!-- th:each is a for loop -->
                <!-- th:field = data binding value (where we are storing this data to)-->
                <!-- th:value = what is sent with the form -->
                <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
                
            </select>

            <br><br>

            Favorite programming language:
            <!-- radio buttons -->
            <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang : ${languages}" th:value="${tempLang}" th:text="${tempLang}">

            <br><br>

            Favorite operating systems:
            <!-- checkboxes -->
            <!-- if a value has spaces, it should be placed in single quotes '' -->
            <input type="checkbox" th:field="*{favoriteSystems}" th:each="tempSystem : ${systems}" th:value="${tempSystem}" th:text="${tempSystem}">

            <input type="submit" value="Submit">

        </form>
        
    </body>

</html>